<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ReportSpace</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href=@Url.Content("~/Content/css/style.default.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/bootstrap.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/bootstrap-responsive.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/jquery.ui.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/animate.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/animate.delay.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/isotope.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/colorbox.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/uniform.tp.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/colorpicker.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/jquery.jgrowl.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/jquery.alerts.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/jquery.tagsinput.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/ui.spinner.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/jquery.chosen.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/fullcalendar.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/roboto.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/lato.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/font-awesome.min.css") rel="stylesheet" />
    <script src="@Url.Content("~/Content/lib/headjs/dist/1.0.0/head.min.js")" type="text/javascript" data-headjs-load="@Url.Content("~/Content/app/init.js")"></script>
</head>
<body>
    <div class="mainwrapper">
        <!-- Header -->
        <div class="header hidden-phone hidden-tablet" style="margin-top:-20px;">
            <div class="logo">
                <a href="dashboard.html">
                    <img src=@Url.Content("~/Content/images/logo.png") alt="" />
                </a>
            </div>
            <div class="headerinner">
                <!-- View Header -->
                <div class="pageheader" style="height: 70px;">
                    <div style="float:left; padding-top:10px;">
                        <div class="pageicon">
                            <span class="@ViewBag.Icon"></span>
                        </div>
                    </div>
                    <div style="margin-top:3px; padding-top:10px">
                        <div class="pagetitle">
                            <h1>@ViewBag.Title</h1>
                            <h5>@ViewBag.Message</h5>
                        </div>
                    </div>
                </div>
                <!-- View Actions -->
            </div>
        </div>

        <!-- Left Panel -->
        <div class="leftpanel">
            <div class="leftmenu">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="#">Reports</a></li>
                    <li><a href=" http://www.microsoft.com/en-us/download/details.aspx?id=29072"><span class="iconsweets-strategy2"></span>Report Builder</a></li>

                </ul>
                <ul class="nav nav-tabs nav-stacked">
                  
                </ul>

                <div id="report-parameters-box" class="widgetbox animate0 fadeIn" style="display: none">
                    <h4 class="widgettitle">
                        Parameters

                    </h4>
                    <div class="widgetcontent nopadding">
                        <div id="report-parameters-container"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Panel -->
        <div class="rightpanel">
            <div class="maincontent">
                <div class="maincontentinner" style="height: 900px">
                    <section id="content"></section>
                    @RenderBody()
                </div>
            </div>
            <!--maincontent-->
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            };

            $('#mainwrapper').height(window.screen.height - 300);
        });
    </script>
</body>
</html>
